body{
    
    font-family: 'Poppins', sans-serif;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1506012787146-f92b2d7d6d96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
    background-repeat: no-repeat; 
    background-size: cover;

}


img{
    margin-top: 0px;
}
.container h2{

    margin-left: 550px;
    color: green;
    padding-left: 10px;
    margin-top: 0px;
    font-weight: bolder;
    border: 1px;

}



.container-info{
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    
    justify-content: space-around;
    
}

.container-info h5{
    font-weight: 400;
}



.left{

    width: 400px;
    
}

.left h3{
    margin-left: 145px;
}


.right{
    margin-left: 50px;
    width: 400px;
}

.right h3{

    margin-left: 120px;

}

.right-right{
    margin-left: 50px;
    width: 400px;
}

.right-right h3{

    margin-left: 80px;

}

.flight-details{

    padding-top: 25px;
    padding-bottom: 20px;
    background-color: black;
    color: black;
    text-align: center;
    border-radius: 55px;
    height: 550px;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(100px);
}

.passenger-details{
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: black;
    color: black;
    text-align: center;
    border-radius: 55px;
    height: 550px;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(100px);
}

.blink {
    animation: blinker 1.5s linear infinite;
    font-family: sans-serif;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

