*{
    font-family: 'Poppins', sans-serif;
    max-width: 100%;

}
html{
    background-color: black;
    scroll-behavior: smooth;
}

header{

    position: sticky;
    top: 0px;
    z-index: 99999999;
}

main{
    color: black;
}

img{
    border-radius: 13px;
}

/*Section Style Rules*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

/*Bootstrap Card Style Rules*/
.card{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);

    width: 400px;

}



h1{
    font-size: 72px;
    
}


#welcome-title{

    background: -webkit-linear-gradient(rgb(63, 63, 63), rgb(15, 64, 170));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white ;
    padding-top: 45px;

}
h5{
    font-size: 24px;
}
h6{
    font-size: 18px;
}

.para{
    font-size: 20px;
}
p{
    font-weight: 15px;
    margin-left: 20px;
}

.overview-main{
    display: flex;
}

.values-main{
    display: flex;
}

.vision-main{
    display: flex;
}

/*Home Section Style Rules*/
#home{

    height: 55px;
}

#home a{
    text-decoration: none;
    color: yellow;
}

#home-btn{
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
}

/*Overview Section Style Rules*/
#overview{
    padding: 0px 50px 0px 40px;

    
}


.overview-container{
    display: flex;
    margin-left: 40%;
}

.overview-container h5{
    padding-left: 25px;
}

/*Vision Section Style Rules*/
#vision{
    padding: 0px 50px 0px 40px;

    

}

.overview-text{
    margin-left: 150px;
}

.vision-container{
    display: flex;
}

.vision-container h5{
    padding-left: 5px;
}

/*Home Section Style Rules*/
#values{
    padding: 0px 50px 0px 80px;

}

.values-wrapper{
    display: flex;
    flex-direction: row;
}

.values-container h5{
    padding-left: 15px;
}

.values-container{
    width: 60%;
    margin-left: 5%;
    margin-right: 8%;
}
/*Flight Section Style Rules*/
#flights_section{
    height: 150vh;
}

.flights-container{
    display: flex;
}

.flights-container h5{
    padding-left: 15px;
}
.values-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}


.overview-body{
    display: flex;
}